<%- include("header") -%>
    <h2>This is a about me page</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint debitis quidem sapiente velit ut recusandae suscipit mollitia nostrum corrupti. Ad fugit modi consequatur. Minus doloremque expedita tempore nulla asperiores mollitia.</p>
    <%- include("footer") -%>